{% extends "base.html" %}

{% block title %}Faltas{% endblock %}

{% block content %}
<main class="main-content" id="main-content">
    <div class="header">
        <button class="toggle-sidebar" id="toggle-sidebar" aria-label="Mostrar/Ocultar barra lateral">
            <i class="fas fa-bars"></i>
        </button>
        <div>
            <h1 class="text-title">Registro de faltas</h1>
            <small class="text-subtitle">Gestión de registro de faltas.</small>
        </div>
    </div>

    <form method="POST" action="{{ url_for('falta.index') }}">
        <div class="form-grid">
            <div class="input-group">
                <span class="px-2">Falta:</span>
                <input type="text" id="descripcion_falta" name="descripcion_falta"
                    placeholder="Descripción de la falta">
                <i class="fas fa-microphone" onclick="startRecognition('descripcion_falta')"></i>
            </div>

            <div class="input-group">
                <span class="px-2">Observación:</span>
                <input type="text" id="observacion" name="observacion" placeholder="Observación">
                <i class="fas fa-microphone" onclick="startRecognition('observacion')"></i>
            </div>

            <div class="select-container">
                <span class="px-2 bg-light input-label">H.vida:</span>
                <select name="hoja_vida" id="hoja_vida" class="custom-select">
                    <option value="" disabled>Seleccione un hoja de vida...</option>
                    {% for hoja_vida in hojas_vida %}
                    <option value="{{ hoja_vida['id'] }}" {% if hoja_vida['id']==(request.form.get('hoja_vida', ''
                        )|int) %}selected{% endif %}>
                        {{hoja_vida['nombres']}} {{ hoja_vida['apellidos'] }}
                    </option>
                    {% endfor %}
                </select>
                <i class="fas fa-microphone select-icon"></i>
            </div>

            <div class="select-container">
                <span class="px-2 bg-light input-label">Materia:</span>
                <select name="materia" id="materia" class="custom-select" required>
                    <option value="" disabled>Seleccione una materia...</option>
                    {% for materia in materias %}
                    <option value="{{ materia['id'] }}" {% if materia['id']==(request.form.get('materia', '' )|int)
                        %}selected{% endif %}>
                        {{ materia['nombre_materia'] }}
                    </option>
                    {% endfor %}
                </select>
                <i class="fas fa-microphone select-icon"></i>
            </div>
        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
        <div class="flash-messages">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        <div class="buttons">
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i> Guardar
            </button>
            <a href="{{ url_for('falta.index') }}" class="btn btn-danger">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </form>

    <div>
        <br><br>
        <h2 class="text-title">Listado de logros académicos</h2><br>
        <form class="search-containers" method="GET" action="{{ url_for('falta.buscar') }}">
            <div class="input-group">
                <input type="text" name="frase" class="search-input" placeholder="Buscar por medio de una frase">
                <i class="fas fa-microphone select-icon"></i>
                <button type="submit" class="btn btn-search">
                    <span class="fas fa-search"></span> Buscar
                </button>
                <a href="{{ url_for('falta.index') }}" class="btn btn-positive">
                    <span class="fas fa-list"></span> Listar todo
                </a>
            </div>
        </form>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Descripción de la falta</th>
                        <th>Observación</th>
                        <th>Materia | Hoja de vida</th>
                        <th>Fecha</th>
                        <th>Gestionar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for falta in faltas %}
                    <tr>
                        <td>{{ falta['id'] }}</td>
                        <td>{{ falta['descripcion_falta'] }}</td>
                        <td>{{ falta['observacion'] }}</td>
                        <td>{{ falta['hoja_vida'] }}</td>
                        <td>{{ falta['fecha'] }}</td>
                        <td>
                            <div class="action-buttons">
                                <a href="{{ url_for('falta.editar', id=falta['id']) }}" class="action-btn"
                                    aria-label="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <form action="{{ url_for('falta.eliminar', id=falta['id']) }}" method="POST"
                                    style="display:inline;">
                                    <button type="submit" class="action-btn delete" aria-label="Eliminar">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}